*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;

    background:#8d8d8d;   /* Gray background */

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:transparent; /* No color */

}

.hero{

    width:430px;
    padding:50px;

    background:#ffffffc3;

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:20px;

    color:white;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.logo{
    width:120px;
    margin-bottom:20px;
}

.hero h1{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    line-height:1.7;
    margin-bottom:35px;
    color:white;
}

.buttons{

    display:flex;
    gap:15px;
}

.btn{

    flex:1;

    text-decoration:none;

    padding:14px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;
}

.login-btn{

    background:#6F4E37;
    color:white;
}

.login-btn:hover{

    background:#5B3E2D;
}

.register-btn{

    background:white;
    color:#6F4E37;
}

.register-btn:hover{

    background:#f2f2f2;
}