/* Profile Section */
.nav-actions{
    display:flex;
    align-items:center;
    gap:20px;
}

.profile-dropdown{
    position:relative;
}

.profile-btn{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#fff;
    cursor:pointer;
    font-size:22px;
    box-shadow:0 3px 8px rgba(0,0,0,.15);
}

.profile-menu{
    display:none;
    position:absolute;
    right:0;
    top:55px;
    width:230px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    overflow:hidden;
    z-index:999;
}

.profile-menu.show{
    display:block;
}

.profile-header{
    padding:15px;
}

.profile-header h4{
    color:#4B2E2B;
    margin-bottom:5px;
}

.profile-header p{
    font-size:13px;
    color:#666;
}

.profile-menu a,
.profile-menu button{
    display:block;
    width:100%;
    padding:14px 18px;
    text-decoration:none;
    color:#333;
    background:none;
    border:none;
    text-align:left;
    cursor:pointer;
    font-size:15px;
}

.profile-menu a:hover,
.profile-menu button:hover{
    background:#f6f6f6;
}